@import '../../varibales.scss';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentWrap {
  width: 100%;
  max-width: 1125px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contentText {
  min-width: 506px;
}

.home__parallax {
  margin: 67px 0 0 0;
}

.title {
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

.text {
  font-size: 36px;
  line-height: 42px;
}

.h1 {
  margin-top: 75px;
}
