.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;
}

.smallPokeBall {
  position: absolute;
  top: 1%;
  left: 1%;
}

.cloud {
  position: absolute;
  right: 67.31%;
  top: 50%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: -3%;
}

.pokeBall {
  position: absolute;
left: 70%;
top: 0%;

}

.pikachu {
  position: absolute;
  top: 0;
  left: 0;
}