@import '../../varibales';

.root {
  min-height: calc(100vh - 93px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);

  h1 {
    margin-top: 73px;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 3px;
    color: #000000;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1125px;
  margin: 33px auto 0 auto;
}

.loader {
  margin: auto;
}

.loaderTextAboveInput {
  width: 100%;
  margin: auto;
  margin-top: 73px;
  margin-bottom: 0.67em;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
}

.loaderCardsBelowInput {
  width: 100%;
  margin: 33px 0;
  text-align: center;
}

.searchInput {
  background: $white;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  min-width: 1088px;
  padding: 16px 31px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.8);
  border: none;
  outline: none;
}

.seachWrap {
  display: flex;
  justify-content: center;
}
